.account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh; // Ensures the container takes up the full height of the viewport

    p {
        margin: 0.5rem 0; // Add some margin for spacing between paragraphs
        text-align: center; // Center text inside the paragraph

        button {
            background-color: #39BFC8;           // Same background color as the subscribe button
            color: white;                        // White text color
            border: none;                        // No border
            padding: 10px 20px;                  // Same padding as before
            cursor: pointer;                     // Pointer cursor on hover
            border-radius: 5px;                  // Same border-radius as the subscribe button
            transition: background-color 0.3s;   // Smooth transition for hover effect

            &:hover {
                background-color: darken(#39BFC8, 10%); // Darker color on hover
            }
        }
    }
}
